---
title: Design Frontiers
layout: default
---

<!---->

<div id="home">
  <div class="hero">
    <!--  <img src="assets/images/hero.jpg"> -->
  </div>
  <div class="container">
    <div class="hero-desktop">
      <img src="assets/images/landing.jpg" />
    </div>

    <div class="info">
      <h2>Design Frontiers</h2>
      <p style="margin-top: 0rem"><b>Sponsored by</b></p>
      <img src="assets/images/sony-logo.svg" alt="Sony" class="sony-logo" />
      <p class="subhead">
        A day long design sprint hosted in collaboration with Sony.
      </p>
      <p>
        May 19, 2019 @
        <a
          class="blue-link"
          href="http://jacobsschool.ucsd.edu/news/news_resources/map.shtml"
          target="_blank"
          >Qualcomm Room, JSOE</a
        >
      </p>

      <p>
        <a class="btn btn-accent" href="{{ site.signup }}" target="_blank"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</div>

<div id="about" class="bg-dark">
  <div class="container">
    <div>
      <h2>About</h2>
      <p>
        Design Frontiers is an event consisting of a design sprint and
        accompanying lightning talks. The event will increase cross
        collaboration of students across multiple disciplines, and show UC San
        Diego students, through a hands on experience, how user centered design
        can apply to various fields. This quarter we will focus on the field of
        consumer electronics; specifically on TVs and displays.
      </p>
    </div>
  </div>

  <div class="about-img"></div>
</div>

<div id="speakers">
  <div class="container">
    <h2 class="color-accent">Speakers</h2>

    <div class="grid">
      {% for speaker in site.data.speakers %}
      <div class="card grid__item desk--one-third lap--one-half">
        <div class="card-img">
          <img src="assets/images/speakers/{{ speaker.img }}" />
        </div>
        <div class="card-text">
          <h3>{{ speaker.name }}</h3>
          <p class="title">
            {{ speaker.title }}<br />
            {{ speaker.company }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<div id="talks" class="bg-dark">
  <div class="container">
    <div>
      <h2>Talks</h2>
      <h3>Who We Are, How We Work</h3>
      <p>
        Meet our teams in San Diego and Tokyo, and learn how we work globally to
        design new features for Sony's TVs.
      </p>
      <h3>User Centered Design</h3>
      <p>
        We'll walk you through our user centered design process (researching,
        thinking, prototyping, testing, and iterating) as your foundation going
        into design sprints.
      </p>
      <h3>Fill the world with emotion through Sony's TVs</h3>
      <p>
        How do our customers engage with TVs and other displays now and in the
        future? We'll share some of our findings so you can do what we do,
        always going back to the research as you design.
      </p>
    </div>
  </div>
</div>

<div id="schedule">
  <div class="schedule-container container">
    <div class="schedule-info">
      <h2>Schedule</h2>
      {% for item in site.data.schedule %}
      <div class="schedule-item">
        <p class="schedule-time">{{ item.time }}</p>
        <p class="schedule-title">{{ item.title }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="schedule-photo bleed-right"></div>
  </div>
  <div class="container">
    <p>
      Design Frontiers participants will have an opportunity to network with
      designers and human factors engineers from Sony Electronics, showcase
      their resumes and portfolios, and ask about career paths. Hors d’oeuvres
      and refreshments will be provided!
    </p>
  </div>
</div>

<div id="faq">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
    <div class="grid faq-container">
      {% for item in site.data.faq %}
      <div class="grid__item desk--one-half">
        <div class="faq-item">
          <div class="q">
            <p>{{ item.q }}</p>
          </div>
          <div class="a">
            <p>
              {{ item.a }}
            </p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /#faq-container -->
  </div>
</div>

<div id="a-look-back">
  <div class="container">
    <h2>A Look Back</h2>

    <div class="card-container grid">
      {% for event in site.data.a-look-back %} {% unless event.hide %}
      <div class="card grid__item lap-up--one-half">
        <div class="card-img">
          <img src="assets/images/a-look-back/{{ event.img }}" />
        </div>
        <div class="card-text">
          <h3>{{ event.title }}</h3>
          <p>
            {{ event.description }}
          </p>
          <p>
            <a
              class="arrow arrow-yellow"
              href="{{ event.link }}"
              target="_blank"
              >Learn More</a
            >
          </p>
        </div>
      </div>
      {% endunless %}
      <!-- /.card -->
      {% endfor %}
    </div>
    <!-- /.card-container -->
  </div>
</div>

<div id="partners">
  <div class="container">
    <h2 class="color-accent">Partners</h2>
    <div class="partner-container">
      <a class="partner-sony" href="https://www.sony.com/" target="_blank"
        ><img src="assets/images/sony-logo.svg" alt="Sony"
      /></a>
      <a class="partner-dlab" href="https://designlab.ucsd.edu/" target="_blank"
        ><img src="assets/images/dlab-logo.png" alt="The Design Lab"
      /></a>
    </div>
  </div>
</div>

<div id="sign-up">
  <div class="container">
    <h2>Join us at Design Frontiers</h2>
    <p class="subhead">
      May 19, 2019 @

      <a
        href="http://jacobsschool.ucsd.edu/news/news_resources/map.shtml"
        target="_blank"
        >Qualcomm Room, JSOE</a
      >
    </p>
    <br /><br /><br />
    <p>
      <a class="btn btn-white" href="{{ site.signup }}" target="_blank"
        >Sign Up</a
      >
    </p>
  </div>
</div>
