---
title: Design Frontiers
layout: default
---

<div id="home">
  <div class="hero">
    <!--  <img src="assets/images/hero.jpg"> -->
  </div>
  <div class="container">
    <div class="hero-desktop">
      <img src="assets/images/landing.jpg" />
    </div>

    <div>
      <h3>Design Frontiers</h3>
      <h1>Intuit</h1>
      <p class="subhead">
        Tackle real product design challenges alongside leading designers in the
        consumer product space.
      </p>
      <p>
        November 18, 2018 @
        <a
          class="blue-link"
          href="http://jacobsschool.ucsd.edu/news/news_resources/map.shtml"
          target="_blank"
          >Qualcomm Room, JSOE</a
        >
      </p>
      <p>
        <a
          class="arrow arrow-yellow"
          href="https://docs.google.com/forms/d/e/1FAIpQLSfGj6l2qYwgr4pqL-nC08_mFuYHQwrsAwRkj5RbLoUC2-oIlA/viewform"
          target="_blank"
          >Sign Up</a
        >
      </p>
    </div>
  </div>
</div>

<div id="about">
  <div class="container">
    <div>
      <h2>About</h2>
      <p>
        Design Frontiers is a day-long event where students use human-centered
        design to conceptualize and ideate solutions to real world problems that
        companies face. We partner with industry leaders to craft a hands-on
        experience that includes a design sprint and accompanying product talks.
        This event unites students across disciplines and showcases how design
        thinking can apply to a wide range of fields beyond UX and product
        design.
      </p>
    </div>
  </div>

  <div class="about-img"></div>
</div>

<div id="speakers">
  <div class="container">
    <h2>Speakers</h2>

    <div class="card-container">
      <div class="card">
        <div class="card-img">
          <img src="assets/images/nikkie-ella.png" />
        </div>
        <div class="card-text">
          <h3>Nikkie Ella</h3>
          <p class="title">Product Designer, Intuit</p>
        </div>
      </div>
      <!-- /.card -->

      <div class="card">
        <div class="card-img">
          <img src="assets/images/kathy-li.jpg" />
        </div>
        <div class="card-text">
          <h3>Kathy Li</h3>
          <p class="title">Product Designer, Intuit</p>
        </div>
      </div>
      <!-- /.card -->

      <div class="card">
        <div class="card-img">
          <img src="assets/images/kristina-eastham.jpg" />
        </div>
        <div class="card-text">
          <h3>Kristina Eastham</h3>
          <p class="title">Product Design Researcher, Intuit</p>
        </div>
      </div>
      <!-- /.card -->
    </div>
    <!-- /.card-container -->
  </div>
</div>

<div id="talks">
  <div class="container">
    <div>
      <h2>Talks</h2>
      <h3>D4D Process - Intuit’s “Design for Delight (D4D)” Methodology</h3>
      <p>
        Intuit founder, Scott Cook, created the secret sauce behind designing
        and developing successful products. We’ll walk you through Intuit’s
        Design for Delight (D4D) Methodology as your foundation going into the
        design sprints.
      </p>
      <h3>Re-imagine TurboTax Live’s On-boarding Experience</h3>
      <p>
        DIY taxpayers lack confidence on how to use the TurboTax Live feature to
        access expert agent help. Design an improved on-boarding experience that
        will demonstrate the value of the product resulting in higher
        satisfaction and confidence when filing taxes with TurboTax.
      </p>
      <h3>Foster Mint Community Engagement</h3>
      <p>
        Mint’s user base is 20 million customers and comprises of members with
        different debt mindsets (from early-stage to financially savvy) and
        varying stages of financial management. How can we create a community in
        which our customers find value within this network, engage and ask
        questions?
      </p>
    </div>
  </div>
</div>

<div id="schedule">
  <div class="container">
    <div>
      <h2>Schedule</h2>
      {% for item in site.data.schedule %}
      <div class="schedule-item">
        <p class="schedule-time">{{ item.time }}</p>
        <p>{{ item.title }}</p>
      </div>
      {% endfor %}
    </div>
    <div class="schedule-photo bleed-right"></div>
  </div>
</div>

<div id="faq">
  <div class="container">
    <h2>Frequently Asked Questions</h2>
    <div id="faq-container">
      {% for item in site.data.faq %}
      <div class="faq-item">
        <div class="q">
          <p>{{ item.q }}</p>
        </div>
        <div class="a">
          <p>
            {{ item.a }}
          </p>
        </div>
      </div>
      {% endfor %}
    </div>
    <!-- /#faq-container -->
  </div>
</div>

<div id="a-look-back">
  <div class="container">
    <h2>A Look Back</h2>

    <div class="card-container">
      {% for event in site.data.a-look-back %}
      <div class="card">
        <div class="card-img">
          <img src="assets/images/a-look-back/{{ event.img }}" />
        </div>
        <div class="card-text">
          <h3>{{ event.title }}</h3>
          <p>
            {{ event.description }}
          </p>
          <p>
            <a
              class="arrow arrow-yellow"
              href="{{ event.link }}"
              target="_blank"
              >Visit Site</a
            >
          </p>
        </div>
      </div>
      <!-- /.card -->
      {% endfor %}
    </div>
    <!-- /.card-container -->
  </div>
</div>

<div id="partners">
  <div class="container">
    <h2>Partners</h2>
    <div class="partner-container">
      <a href="https://www.intuit.com/" target="_blank"
        ><img src="assets/images/intuit-logo.svg" alt="Intuit"
      /></a>
      <a href="https://designlab.ucsd.edu/" target="_blank"
        ><img src="assets/images/dlab-logo.svg" alt="The Design Lab"
      /></a>
    </div>
  </div>
</div>

<div id="sign-up">
  <div class="container">
    <h2>Join us at Design Frontiers</h2>
    <p class="subhead">
      November 18, 2018 @
      <a
        href="http://jacobsschool.ucsd.edu/news/news_resources/map.shtml"
        target="_blank"
        >Qualcomm Room, JSOE</a
      >
    </p>
    <p>
      <a
        class="arrow arrow-white"
        href="https://docs.google.com/forms/d/e/1FAIpQLSfGj6l2qYwgr4pqL-nC08_mFuYHQwrsAwRkj5RbLoUC2-oIlA/viewform"
        target="_blank"
        >Sign Up</a
      >
    </p>
  </div>
</div>
