@charset "UTF-8";
/*
 * Breakpoints
 */
/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 0 0;
  display: inline-block;
  cursor: pointer;
  -webkit-transition-property: opacity, -webkit-filter;
  transition-property: opacity, -webkit-filter;
  transition-property: opacity, filter;
  transition-property: opacity, filter, -webkit-filter;
  -webkit-transition-duration: 0.15s;
          transition-duration: 0.15s;
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible; }
  .hamburger:hover {
    opacity: 1; }

.hamburger-box {
  width: 2.6rem;
  height: 1.6rem;
  display: inline-block;
  position: relative; }

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -0.1rem; }
  .hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
    width: 2.6rem;
    height: 0.2rem;
    background-color: #232323;
    border-radius: 0;
    position: absolute;
    -webkit-transition-property: -webkit-transform;
    transition-property: -webkit-transform;
    transition-property: transform;
    transition-property: transform, -webkit-transform;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-timing-function: ease;
            transition-timing-function: ease; }
  .hamburger-inner::before, .hamburger-inner::after {
    content: "";
    display: block; }
  .hamburger-inner::before {
    top: -0.7rem; }
  .hamburger-inner::after {
    bottom: -0.7rem; }

/*
@import "types/3dx";
@import "types/3dx-r";
@import "types/3dy";
@import "types/3dy-r";
@import "types/3dxy";
@import "types/3dxy-r";
@import "types/arrow";
@import "types/arrow-r";
@import "types/arrowalt";
@import "types/arrowalt-r";
@import "types/arrowturn";
@import "types/arrowturn-r";
@import "types/boring";
@import "types/collapse";
@import "types/collapse-r";
@import "types/elastic";
@import "types/elastic-r";
@import "types/emphatic";
@import "types/emphatic-r";
@import "types/minus";
@import "types/slider";
@import "types/slider-r"; */
/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/*
@import "types/spin-r";
@import "types/spring";
@import "types/spring-r";
@import "types/stand";
@import "types/stand-r";
@import "types/squeeze";
@import "types/vortex";
@import "types/vortex-r"; */
/*
   * Spin
   */
.hamburger--spin .hamburger-inner {
  -webkit-transition-duration: 0.22s;
          transition-duration: 0.22s;
  -webkit-transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
          transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  .hamburger--spin .hamburger-inner::before {
    -webkit-transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in;
    transition: top 0.1s 0.25s ease-in, opacity 0.1s ease-in; }
  .hamburger--spin .hamburger-inner::after {
    -webkit-transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    transition: bottom 0.1s 0.25s ease-in, transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19); }

.hamburger--spin.is-active .hamburger-inner {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  -webkit-transition-delay: 0.12s;
          transition-delay: 0.12s;
  -webkit-transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
          transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  .hamburger--spin.is-active .hamburger-inner::before {
    top: 0;
    opacity: 0;
    -webkit-transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out;
    transition: top 0.1s ease-out, opacity 0.1s 0.12s ease-out; }
  .hamburger--spin.is-active .hamburger-inner::after {
    bottom: 0;
    -webkit-transform: rotate(-90deg);
            transform: rotate(-90deg);
    -webkit-transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: bottom 0.1s ease-out, transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1), -webkit-transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1); }

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
h3,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom reset */
button:focus {
  outline: 0; }

/*
 * Helpers
 */
.no-scroll {
  position: fixed; }

/*
 * Base styles
 */
html {
  font-size: 62.5%;
  position: relative; }

body {
  -webkit-font-smoothing: antialiased; }

.container {
  padding: 5rem 4rem; }

.container-sm {
  padding: 2.5rem 4rem; }

.card {
  margin: 3rem 0 5rem; }
  .card:last-child {
    margin: 3rem 0 0; }

.card-img img {
  width: 100%; }

.card-text {
  margin-top: 2rem; }

/*
 * @font-face declarations
 */
@font-face {
  font-family: 'Filson Pro';
  src: url("../fonts/filson_pro_bold-webfont.eot");
  src: url("../fonts/filson_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/filson_pro_bold-webfont.woff2") format("woff2"), url("../fonts/filson_pro_bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Filson Pro';
  src: url("../fonts/filson_pro_medium-webfont.eot");
  src: url("../fonts/filson_pro_medium-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/filson_pro_medium-webfont.woff2") format("woff2"), url("../fonts/filson_pro_medium-webfont.woff") format("woff");
  font-weight: 600;
  font-style: normal; }

/*
@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/filson_pro_regular-webfont.eot');
  src: url('../fonts/filson_pro_regular-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/filson_pro_regular-webfont.woff2') format('woff2'),
        url('../fonts/filson_pro_regular-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}
*/
@font-face {
  font-family: 'Filson Pro';
  src: url("../fonts/filson_pro_book-webfont.eot");
  src: url("../fonts/filson_pro_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/filson_pro_book-webfont.woff2") format("woff2"), url("../fonts/filson_pro_book-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

/*
 * Typography
 */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Filson Pro', 'Helvetica', 'Arial', sans-serif;
  color: #232323;
  font-weight: 400; }

h1, h2, h3 {
  font-weight: 700; }

h1 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  color: #016696; }

h2 {
  color: #016696;
  font-size: 1.8rem;
  line-height: 2.6rem; }


p,
h3 {
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin: .5rem 0; }

p a, h3 a {
  font-size: 1.2rem;
  font-weight: 600;
  color: #232323;
  text-decoration: none; }
  p a.arrow:after, h3 a.arrow:after {
    display: inline-block;
    margin-left: 0.7rem;
    content: url("../images/arrow.svg"); }
  p a.white-arrow:after, h3 a.white-arrow:after {
    display: inline-block;
    margin-left: 0.7rem;
    content: url("../images/white-arrow.svg"); }

/*
 * Header styles
 */
#header {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 9999; }

#nav-mobile {
  height: 100%; }
  #nav-mobile .nav-container {
    position: relative;
    width: 100%;
    height: 100%; }
  #nav-mobile .nav-bar {
    height: 7.5rem;
    width: 100%;
    -webkit-box-shadow: 0 1rem 5rem 0 rgba(0, 0, 0, 0.05);
            box-shadow: 0 1rem 5rem 0 rgba(0, 0, 0, 0.05);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #nav-mobile .nav-drawer {
    text-align: center;
    width: 100%;
    position: absolute;
    height: calc(100vh - 7.5rem);
    background-color: #fff;
    display: none; }
  #nav-mobile .nav-item-wrapper {
    height: 100%;
    margin-top: -2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  #nav-mobile .nav-item {
    margin: 1.5rem 0; }
    #nav-mobile .nav-item a {
      font-size: 1.6rem;
      font-weight: 600;
      text-decoration: none;
      color: #232323; }
    #nav-mobile .nav-item.active a {
      color: #5baed6; }
  #nav-mobile .menu {
    position: absolute;
    left: 4rem; }
  #nav-mobile .logo img {
    height: 3.6rem; }

.menu-overlay {
  display: none;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.96);
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000; }

/*
 * Footer styles
 */
#sign-up {
  background-color: #5baed6; }
  #sign-up p, #sign-up h3, #sign-up h2, #sign-up a {
    color: #fff; }

#footer {
  height: 10rem;
  background-color: #016696;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  #footer p, #footer h3, #footer a {
    color: #fff;
    font-weight: 600; }

.copyright-container {
  padding: 0 4rem; }

.design-logo img {
  height: 2.6rem;
  margin-top: 1rem; }

/*
 * Home page
 */
/****** HOME ******/
#home {
  margin-top: 7.5rem; }

.hero img {
  width: 100%; }

/****** ABOUT ******/
#about {
  background-color: #fce283; }
  #about h2 {
    color: #232323; }

/****** FAQ ******/
#faq h2 {
  margin-bottom: 1rem; }

.qa-container {
  padding: 1rem 0;
  position: relative;
  padding-left: 2.2rem; }
  .qa-container p, .qa-container h3 {
    margin: 0;
    padding: 0; }

.q {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.5rem; }
  .q:before {
    -webkit-transition: .3s;
    transition: .3s;
    content: "✖";
    position: absolute;
    font-size: 1.3rem;
    color: #EDC945;
    left: 0;
    margin-top: 0.5rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg); }
  .q.active:before {
    color: #5baed6;
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg); }

.a {
  display: none; }

/****** SPEAKERS ******/
#speakers .card-text p, #speakers .card-text h3, #speakers .card-text h3 {
  line-height: 2rem;
  margin: 0;
  padding: 0; }

/****** SCHEDULE ******/
#schedule p, #schedule h3 {
  margin: 0;
  padding: 0; }

.agenda {
  margin-top: 2rem; }

.agenda-item {
  height: 100%;
  padding: 0 0 1.6rem 3.8rem;
  position: relative; }
  .agenda-item:not(:last-child):before {
    content: "";
    display: inline-block;
    position: absolute;
    left: .45rem;
    margin-top: 0.6rem;
    height: 100%;
    width: 0.3rem;
    background-color: #fce283; }

.agenda-time {
  font-weight: 600; }
  .agenda-time:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 0.6rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    border: 0.4rem solid #5baed6;
    background-color: #fff; }
