/*
 * Breakpoints
 */
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
h3,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Custom reset */
button:focus {
  outline: 0; }

/*
 * Helpers
 */
/*
 * Base styles
 */
html {
  font-size: 62.5%; }

/*
 * @font-face declarations
 */
@font-face {
  font-family: 'Filson Pro';
  src: url("../fonts/filson_pro_bold-webfont.eot");
  src: url("../fonts/filson_pro_bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/filson_pro_bold-webfont.woff2") format("woff2"), url("../fonts/filson_pro_bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

@font-face {
  font-family: 'Filson Pro';
  src: url("../fonts/filson_pro_book-webfont.eot");
  src: url("../fonts/filson_pro_book-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/filson_pro_book-webfont.woff2") format("woff2"), url("../fonts/filson_pro_book-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

/*
 * Typography
 */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Filson Pro', 'Helvetica', 'Arial', sans-serif; }

h1 {
  font-size: 2.4rem;
  font-weight: bold;
  color: #016696; }

h2 {
  font-size: 1.8rem;
  font-weight: bold; }

h3 {
  font-weight: bold; }


p,
h3 {
  font-size: 1.3rem; }

/*
 * Header styles
 */
/*
 * Footer styles
 */
/*
 * Home page
 */
