/*
 * Home page
 */

#speakers,
#schedule,
#faq,
#a-look-back {
  .container {
    padding-bottom: 0rem;
    @include md-up {
      padding-bottom: 1rem;
    }
  }
}

/****** HOME ******/

#home {
  h2 {
    color: $dark-text;
    padding: 0;
  }
  .sony-logo {
    margin: 5rem 0 4rem;
    width: 28rem;
  }
  // Push content down for fixed header
  margin-top: $header-height;
  @include lg-up {
    margin-top: 0;
  }
  .container {
    @include lg-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 4rem;
      grid-template-areas: "home-photo home-info";
      align-items: flex-end;
    }
    .info {
      grid-area: home-info;
    }
    .hero-desktop {
      grid-area: home-photo;
    }
  }
  .caption {
    margin: 1.5rem 0;
  }
  h1 {
    font-size: 6rem;
    margin: 1rem 0 3rem -0.4rem;
    @include md-up {
      font-size: 8.4rem;
      margin: 2.5rem 0 4rem -0.5rem;
    }
  }
}

.hero {
  background-image: url("../images/landing.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 35rem;
  @include md-up {
    //height: 40rem;
  }
  @include lg-up {
    display: none;
  }
}

.hero-desktop {
  display: none;
  img {
    width: 100%;
  }
  @include lg-up {
    display: inline-block;
    margin-left: -$padding-right-lg;
  }
  @include xl-up {
    margin-left: -$padding-right-xl;
  }
}

/****** ABOUT ******/

#about {
  @include sm-up {
    display: grid;
    grid-template-columns: auto auto;
    grid-column-gap: 4rem;
    grid-template-areas: "about-text about-photo";
  }
  .container {
    grid-area: about-text;
    @include sm-up {
      padding-right: 2rem;
    }
    @include md-up {
      padding-right: 3rem;
    }
    @include lg-up {
      padding-right: 5rem;
    }
  }
  h2 {
    padding-bottom: 1.2rem;
  }
}

.about-img {
  grid-area: about-photo;
  display: none;
  overflow: hidden;
  background-image: url("../images/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include sm-up {
    display: block;
    height: 100%;
    width: 33vw;
  }
}

/****** FAQ ******/

#faq-container {
  @include sm-up {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

$faq-gutter: 12rem;
.faq-container {
  padding-left: 4rem;
  margin-left: -$faq-gutter !important;

  @include grid-media-query(lap-up) {
    // padding-left: 5rem;
  }
  .grid__item {
    padding-left: $faq-gutter !important;
  }
}

.faq-item {
  position: relative;
  p {
    margin: 0; // Prevent jump on drawer open
    padding: 0;
  }
  margin-bottom: 1.5rem;

  @include md-up {
    margin-bottom: 3.5rem;
  }
}
$offset: 0.5rem;
$offsethalf: 0.25rem;
.q {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.5rem;
  &:before {
    line-height: 0;
    transition: 0.3s;
    content: "\d7";
    position: absolute;
    font-size: 2.3rem;
    color: $black;
    left: -4rem;
    margin-top: 1.1rem;
    transform-origin: center 0.1rem;
    transform: rotate(45deg);
    @include md-up {
      font-size: 3rem;
      margin-top: 1.4rem;
    }
  }
  &.active:before {
    color: $accent;
    transform: rotate(180deg);
  }
}
.a {
  display: none;
}

#talks {
  h2 {
    padding-bottom: 1.2rem;
  }
  h3 {
    margin-top: 2rem;
  }
}

/****** SPEAKERS ******/

#speakers {
  margin-bottom: 6rem; // Fix later
  .card-text {
    padding: 0 0.2rem;
  }
  .title {
    margin-top: -0.8rem;
  }
}

/****** SCHEDULE ******/

#schedule {
  p {
    margin: 0;
    padding: 0;
  }
  .schedule-container {
    @include xl-up {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 8rem;
      grid-template-areas: "schedule-info schedule-photo";
    }
  }
}

.schedule-item {
  padding: 0 0 1.6rem 3.8rem;
  position: relative;
  // Timeline
  &:not(:last-child):before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0.45rem;
    margin-top: 0.6rem;
    height: 100%;
    width: 0.3rem;
    background-color: $accent;
    @include sm-up {
      margin-top: 0.8rem;
      left: 12.45rem;
    }
  }
  @include sm-up {
    padding-left: 0;
    display: grid;
    grid-template-columns: 18rem 1fr;
    grid-template-areas: "schedule-time schedule-title";
  }
}

.schedule-title {
  grid-area: schedule-title;
}
.schedule-time {
  grid-area: schedule-time;
  font-weight: 600;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 0.6rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    border: 0.4rem solid $accent;
    background-color: #fff;
    @include sm-up {
      margin-top: 0.8rem;
      left: 12rem;
    }
  }
}

.schedule-info {
  grid-area: schedule-info;
}
.schedule-photo {
  grid-area: schedule-photo;
  display: none;
  text-align: right;
  background-image: url("../images/agenda.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  @include xl-up {
    display: inline-block;
  }
}

/****** A LOOK BACK ******/

#a-look-back {
  .card-container {
  }
  .card {
    margin-bottom: 4rem;
    @include grid-media-query(lap-up) {
      margin-bottom: 0;
    }
  }
}

/******* PARTNERS *******/
.partner-container {
  max-width: 40rem;
  margin-bottom: 4rem;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  grid-template-areas: "partner-sony partner-dlab";
  a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 8rem;
  }
  a:first-child {
    img {
      padding-right: 3rem;
      @include md-up {
        padding-right: 5rem;
      }
    }
  }
  img {
    //  width: 49%;
    width: 100%;
    box-sizing: border-box;
  }
  .partner-sony {
    grid-area: partner-sony;
  }
  .partner-dlab {
    grid-area: partner-dlab;
  }
}

#sign-up {
  h2 {
    padding-bottom: 0;
  }
}
