// Media breakpoints
$xs-screen: 360px;
$sm-screen: 600px;
$md-screen: 840px;
$lg-screen: 960px;
$xl-screen: 1280px;
$xxl-screen: 1440px;

// Primary Colors
$accent: #5769ec;

$black: #1e1f23;
$dark-gray: #606068;
$gray: #878791;

$dark-text: #000;
$light-text: #fff;

$side-padding: 10vw;
$side-padding-md: 10vw;
$padding-left-lg: 22rem;
$padding-right-lg: 7rem;
$padding-left-xl: 26rem;
$padding-right-xl: 11rem;

$header-height: 6rem;
$footer-height: 10rem;
