// Media breakpoints
$xs-screen: 360px;
$sm-screen: 600px;
$md-screen: 840px;
$lg-screen: 960px;
$xl-screen: 1280px;
$xxl-screen: 1440px;

// Primary Colors
$sweet-corn: #fce283; // Yellow
$shakespeare: #5baed6; // Blue
$mine-shaft: #232323; // Black

// Secondary Colors
$danube: #6dacd2; // Light blue
$bahama-blue: #016696; // Dark blue
$ronchi: #edc945; // Dark yellow

$side-padding: 10vw;
$side-padding-md: 10vw;
$padding-left-lg: 22rem;
$padding-right-lg: 7rem;
$padding-left-xl: 26rem;
$padding-right-xl: 11rem;

$header-height: 6rem;
$footer-height: 10rem;
