/*
 * Base styles
 */
html {
  font-size: 62.5%;
  position: relative;
}

body {
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 5rem $side-padding;
}

.container-sm {
  padding: 2.5rem $side-padding;
}

.card {
  margin: 3rem 0 5rem;
  &:last-child {
    margin: 3rem 0 0;
  }
}

.card-img {
  img {
    width: 100%;
  }
}

.card-text {
  margin-top: 2rem;
}
