/*
 * Typography
 */
body {
  -webkit-font-smoothing: antialiased;
  font-family: 'Filson Pro', 'Helvetica', 'Arial', sans-serif;
  color: $mine-shaft;
}

h1 {
  font-size: 2.4rem;
  line-height: 3.4rem;
  font-weight: bold;
  color: $bahama-blue;
}

h2 {
  color: $bahama-blue;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.6rem;
}

h3 {
  @extend p;
  font-weight: bold;
}

p {
  font-size: 1.3rem;
  line-height: 2.2rem;
  margin: 0.5rem 0;
}

a {
  font-weight: bold;
  color: $mine-shaft;
  text-decoration: none;
  &.arrow {
    &:after {
      display: inline-block;
      margin-left: 0.7rem;
      //width: 3rem;
      //height: 3rem;
      content: url("../images/arrow.svg");
      //content: "";
    }
  }
}
