/*
 * Home page
 */

.hero {
  img {
    width: 100%;
  }
}

#about {
  background-color: $sweet-corn;
  h2 {
    color: $mine-shaft;
  }
}

.speaker-card {
  margin: 3rem 0 5rem;
}

.speaker-photo {
  img {
    width: 100%;
  }
}

.speaker-info {
  margin-top: 2rem;
  p, h3 {
    line-height: 1.9rem;
    margin: 0;
    padding: 0;
  }
}
