/*
 * Home page
 */

/****** HOME ******/

.hero {
  img {
    width: 100%;
  }
}

/****** ABOUT ******/

#about {
  background-color: $sweet-corn;
  h2 {
    color: $mine-shaft;
  }
}

/****** FAQ ******/

.qa-container {
  margin: 2rem 0;
  p {
    margin: 0;
    padding: 0;
  }
}

.q {
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.a {
  display: none;

}

#speakers {
  .card-text {

    p, h3 {
      line-height: 2rem;
      margin: 0;
      padding: 0;
    }
  }
}

/****** SCHEDULE ******/

#schedule {
  p {
    margin: 0;
    padding: 0;
    //line-height: 1rem;
  }
}

.agenda {
  margin-top: 2rem;
}

.agenda-item {
  height: 100%;
  padding: 0 0 1.6rem 3.8rem;
  position: relative;

  &:not(:last-child):before {
    content: "";
    display: inline-block;
    position: absolute;
    left: .45rem;
    margin-top: 0.6rem;
    height: 100%;
    width: 0.3rem;
    background-color: $sweet-corn;
  }
}

.agenda-time {
  font-weight: 600;
  &:before {
    content: "";
    display: inline-block;
    position: absolute;
    left: 0;
    margin-top: 0.6rem;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 1rem;
    border: .4rem solid $shakespeare;
    background-color: #fff;
  }
}
