/*
 * Footer styles
 */

#sign-up {
  background-color: $shakespeare;
  p, h2, a {
    color: #fff;
  }
}

#footer {
  height: 10rem;
  background-color: $bahama-blue;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  p, a {
    color: #fff;
    font-weight: 600;
  }
}

.copyright-container {
  padding: 0 $side-padding;
}

.design-logo {
  img {
    height: 2.6rem;
    margin-top: 1rem;
  }
}
