/*
 * Base styles
 */
html {
  font-size: 62.5%;
  position: relative;
  @include xxl-up {
    font-size: 0.7vw;
  }
}

body {
  -webkit-font-smoothing: antialiased;
}

.body-wrapper {
  min-height: calc(100vh - #{$footer-height});
}
.container {
  padding: 5rem $side-padding;
  @include md-up {
    padding: 8rem $side-padding-md;
  }
  @include lg-up {
    padding-left: $padding-left-lg;
    padding-right: $padding-right-lg;
  }
  @include xl-up {
    padding-left: $padding-left-xl;
    padding-right: $padding-right-xl;
  }
}

.container-sm {
  padding: 2.5rem $side-padding;
}

.card {
  margin-bottom: 5rem;
  &:last-child {
    margin-bottom: 0;
  }
}

.card-img {
  img {
    width: 100%;
  }
}

.card-text {
  margin-top: 1.5rem;
  @include md-up {
    margin-top: 2.5rem;
  }
}

.btn {
  text-align: center;
  display: inline-block;
  padding: 1.5rem;
  white-space: nowrap;
  text-transform: uppercase;
  font-size: 1.2rem !important;
  line-height: 0;
  cursor: pointer;
  transition: opacity 0.3s;
  @include hover {
    opacity: 0.6;
  }
  &.btn-accent {
    color: $accent !important;
    border: 0.2rem $accent solid;
  }
  &.btn-white {
    color: #fff !important;
    border: 0.2rem #fff solid;
  }
}
