/*
 * @font-face declarations
 */

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/filson_pro_bold-webfont.eot');
  src: url('../fonts/filson_pro_bold-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/filson_pro_bold-webfont.woff2') format('woff2'),
        url('../fonts/filson_pro_bold-webfont.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/filson_pro_medium-webfont.eot');
  src: url('../fonts/filson_pro_medium-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/filson_pro_medium-webfont.woff2') format('woff2'),
        url('../fonts/filson_pro_medium-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Filson Pro';
  src: url('../fonts/filson_pro_book-webfont.eot');
  src: url('../fonts/filson_pro_book-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/filson_pro_book-webfont.woff2') format('woff2'),
        url('../fonts/filson_pro_book-webfont.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Neue Plak Extended Bold';
  src: url('../../assets/fonts/NeuePlak-ExtendedBold.woff') format('woff');
  src: url('../../assets/fonts/NeuePlak-ExtendedBold.woff2') format('woff2');
  font-weight: 400;
  font-size: normal;
}

@font-face{
  font-family: 'NB International Pro Mono';
  src: url('../../assets/fonts/NBInternationalMonoWebfont.woff') format('woff');
  src: url('../../assets/fonts/NBInternationalMonoWebfont.woff2') format('woff2');
  font-weight: 400;
  font-size: normal;
}

@font-face{
  font-family: 'NB International Pro Light';
  src: url('../../assets/fonts/NBInternationalMonoWebfont.woff2') format('woff2');
  src: url('../../assets/fonts/NBInternationalMonoWebfont.woff') format('woff2');
  font-weight: 400;
  font-size: normal;
}